.env
.idea
.vscode
.secrets
.venv
*.pyc
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
install/
log/

hts_anygrasp/hts_anygrasp/*.so
hts_anygrasp/hts_anygrasp/license/
hts_anygrasp/hts_anygrasp/log/

realsense-ros/
librealsense/