# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    fr3_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    fr3_hand_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    test_controller_one:
      type: position_controllers/GripperActionController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

fr3_arm_controller:
  ros__parameters:
    joints:
      - fr3_joint1
      - fr3_joint2
      - fr3_joint3
      - fr3_joint4
      - fr3_joint5
      - fr3_joint6
      - fr3_joint7
    command_interfaces:
      - position
      - velocity
      - effort
    state_interfaces:
      - position
      - velocity
fr3_hand_controller:
  ros__parameters:
    joints:
      - fr3_finger_joint1
    command_interfaces:
      - position
      - velocity
      - effort
    state_interfaces:
      - position
      - velocity
test_controller_one:
  ros__parameters:
    joint: fr3_finger_joint1